<h3 class="font-weight-normal text-center">Encargado de Facturas</h3>
<br />
<br />
<div class="row text-center">
    <div class="caption text-center">
        <button type="button" class="btn btn-info btn-lg" style="position :absolute;  right: 44%; top:16%;">Factura</button>
    </div>
    <br /><br />
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="thumbnail">
                    <img src="https://image.freepik.com/vector-gratis/recibo-electronico-o-factura_126283-208.jpg" class="img-fluid rounded thumbnail" alt="Responsive image">


                </div>
            </div>
        </div>
    </div>
</div>