

<h5 class="font-weight-normal text-center">Seleccione una opción</h5>
<br />
<br />
<div class="row text-center">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="thumbnail">
                    <img src="https://image.freepik.com/vector-gratis/recibo-electronico-o-factura_126283-208.jpg" class="img-fluid rounded thumbnail" alt="Responsive image">
                    <br /><br />
                    <div class="caption">
                       
                        <a asp-action="ListaClientes" asp-controller="Factura" class="btn btn-primary">Facturas</a>
                    </div>
                </div>
            </div>
           
            <div class="col">

                <div class="thumbnail">
                    <img src="https://image.freepik.com/vector-gratis/ilustracion-concepto-informe_114360-1173.jpg" class="img-fluid rounded thumbnail" alt="Responsive image">
                    <br />
                    <br />
                          <div class="caption">
                              <button type="button" class="btn btn-info btn-lg">Reportes</button>
                          </div>
                </div>
               
            </div>

            <div class="col">

                <div class="thumbnail">
                    <img src="https://image.freepik.com/vector-gratis/ilustracion-concepto-lectura-lista_114360-1053.jpg" class="img-fluid rounded thumbnail" alt="Responsive image">
                    <br />
                    <br />
                    <div class="caption">
                        <a asp-action="Inventario" asp-controller="Home" class="btn btn-primary">Inventario</a>
                    </div>
                </div>   
            </div>
        </div>
    </div>
</div>