<div id="modalProducto" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Lista de Productos</h4>
            </div>
            <div class="modal-body ">
                <div class="form-group">
                    <div class="row justify-content-end">
                        <div class="col-4">
                            <input type="text" placeholder="Ingresar nombre Para Buscar" class="form-control" id="dato_bus" />
                        </div>
                        <div class="col-2">
                            <input type="number" class="form-control" id="cantidad" name="cantidad" placeholder="Cantidad"/>
                        </div>
                        <div class="col-4">
                            <button type="button" class="btn btn-primary" onclick="Buscar()"><span class="glyphicon glyphicon-search"> Buscar</span></button>
                        </div>
                    </div>
                </div>
                <div style="text-align: right" class="form-inline">

                </div>
                <br />
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>cod</th>
                            <th>Nombre</th>
                            <th>Detalle</th>
                            <th>Precio</th>
                            <th>Disponibles</th>
                            <th>Accion</th>
                        </tr>
                    </thead>
                    <tbody id="tabla_bus_atr"></tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" data-dismiss="modal"><span class="glyphicon glyphicon-remove"> Cancelar</span></button>
            </div>
        </div>
    </div>
</div>

<script>
     //Busqueda de producto
    bus_atr = function () {
        $.post(
            '/Factura/bus_atr', {
                dato_bus: $('#dato_bus').val(),//en este caso sería el codigo
                cantidad: $('#cantidad').val()
            }, function (res) {
                $('#tabla_bus_atr').html(res)
            });
    };

    Buscar = function () {
        $.get('/Factura/buscar', {
            dato_bus: $('#dato_bus').val(),
            cantidad: $('#cantidad').val()
        }, function (res) {
                
        }).then(function (JsonResult) {
            
            //console.log(JsonResult);
            let tabla;
            let boton_bor;

            for (var i = 0; i < JsonResult.length; i++) {
                
                if (JsonResult[i].cantidad >= JsonResult[i].cantidadSelecionada) {

                    boton_bor = "<button class=\"btn btn-warning\" type='button'"
                        + " onclick=\"agregrar('" + JsonResult[i].cod_producto + "','" + JsonResult[i].nombre + "','" + JsonResult[i].detalle + "','" + JsonResult[i].precio + "','" + JsonResult[i].cantidad + "','" + JsonResult[i].cantidadSelecionada + "')\""
                        + " data-dismiss='modal'><span class=\"glyphicon glyphicon-check\"> Añadir</span></button>";

                    tabla +=
                        '<tr><td>' + JsonResult[i].cod_producto + '</td>'
                        + '<td>' + JsonResult[i].nombre + '</td>'
                        + '<td>' + JsonResult[i].detalle + '</td>'
                        + "<td>" + JsonResult[i].precio + '</td>'
                        + '<td>' + JsonResult[i].cantidad + '</td>'
                        + '<td>' + boton_bor + '</td></tr>';

                }
                else
                {
                    boton_bor = "<button class=\"btn btn-success\" type='button'"
                        + " data-dismiss='modal'><span class=\"glyphicon glyphicon-check\"> Cantidad no disponible</span></button>";

                    tabla +=
                        '<tr><td>' + JsonResult[i].cod_producto + '</td>'
                        + '<td>' + JsonResult[i].nombre + '</td>'
                        + '<td>' + JsonResult[i].detalle + '</td>'
                        + "<td>" + JsonResult[i].precio + '</td>'
                        + '<td>' + JsonResult[i].cantidad + '</td>'
                        + '<td>' + boton_bor + '</td></tr>';
                }

               
            }
            $('#tabla_bus_atr').html(tabla);
        });
    }

    agregrar = function (codProducto, nombreProducto, detalleProducto, precioProducto, cantidad, cantidadSelecionada) {
        $.post(
            '/Factura/agregar', {
            codProducto: codProducto,
            nombreProducto: nombreProducto,
            detalleProducto: detalleProducto,
            precioProducto: precioProducto,
            cantidad: cantidad,
            cantidadSelecionada: cantidadSelecionada
        }, function (res) {
                

                var productos = res;
                var total = 0;
                var subtotal = 0;
                var IVA = 13;
               
                console.log(productos);
              
                let tablas;
               
                for (var i = 0; i < productos.length; i++) {
                    boton_bor = "<button class=\"btn btn-danger\" type='button'"
                        + " onclick=\"borrar('" + productos[i].cod_producto + "','" + productos[i].cantidadSelecionada+"')\""
                        + "><span class=\"glyphicon glyphicon-trash\"> Borrar</span></button>";

                    tablas += '<tr><td>' + productos[i].cod_producto + '</td>'
                        + '<td>' + productos[i].nombre + '</td>'
                        + '<td>' + productos[i].detalle + '</td>'
                        + '<td>' + productos[i].precio + '</td>'
                        + '<td>' + productos[i].cantidadSelecionada + '</td>'
                        + '<td>' + boton_bor + '</td></tr>'


                    var precio = productos[i].precio;
                    var cantidad = productos[i].cantidadSelecionada;
                    var sub = precio * cantidad;
                    
                    subtotal = subtotal + sub;    
                    impuestos = (subtotal * IVA) / 100;
                    total = subtotal + impuestos;
                   
                }
                console.log(total);

                $('#tabla_atr').html(tablas);
                $('#total').attr("value",total);
                $('#subtotal').attr("value", subtotal);
               
                
        });
    };

    borrar = function (id, cantidad) {
        $.post(
            '/Factura/borrar', {
                id: id,
                cantidad:cantidad
        }, function (res) {

                var productos = res;
                var total = 0;
                var subtotal = 0;
                var IVA = 13;

                console.log(productos);

                let tabla;

                if (productos.length == 0) {

                    tabla = '';

                } else {
                    for (var i = 0; i < productos.length; i++) {
                        boton_bor = "<button class=\"btn btn-danger\" type='button'"
                            + " onclick=\"borrar('" + productos[i].cod_producto + "','" + productos[i].cantidadSelecionada + "')\""
                            + "><span class=\"glyphicon glyphicon-trash\"> Borrar</span></button>";

                        tabla += '<tr><td>' + productos[i].cod_producto + '</td>'
                            + '<td>' + productos[i].nombre + '</td>'
                            + '<td>' + productos[i].detalle + '</td>'
                            + '<td>' + productos[i].precio + '</td>'
                            + '<td>' + productos[i].cantidadSelecionada + '</td>'
                            + '<td>' + boton_bor + '</td></tr>'


                        var precio = productos[i].precio;
                        var cantidad = productos[i].cantidadSelecionada;
                        var sub = precio * cantidad;

                        subtotal = subtotal + sub;
                        impuestos = (subtotal * IVA) / 100;
                        total = subtotal + impuestos;

                    }
                    console.log(total);
                }

                $('#tabla_atr').html(tabla);
                $('#total').attr("value", total);
                $('#subtotal').attr("value", subtotal);

        });
    };

 
    agr_atr = function (codProducto, nombreProducto, detalleProducto, precioProducto, Cantidad) {
        $.post(
            '/Factura/agr_atr', {
                codProducto: codProducto,
                nombreProducto: nombreProducto,
                detalleProducto: detalleProducto,
                precioProducto: precioProducto,
                cantidad: Cantidad
            }, function (res) {
                $('#tabla_atr').html(res);
                $('#tabla_bus_atr').html('');
                $('#dato_bus').val('');
               
            });
    };

    bor_atr = function (id) {
        $.post(
            '/Factura/bor_atr', {
                id: id
            }, function (res) {
                $('#tabla_atr').html(res)
            });
    };

    $(document).ready(function () {
        $.post(
            '/Factura/limpiar_atr', {
            }, null
        );
    });

    $(document).ready(function () {
        setInterval(function () {
            $('total').post('/Factura/total');
        }, 2000);
    });
</script>
