
<div id="ModeloProducto" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class=" modal-header">
                <h4 class="modal-title">Añadiendo productos</h4>
            </div>
            <div class="modal-body">
                <div class="form-inline" style="text-align: right">
                    <div class="form-group">
                        <input type="text" style="text-align: right" placeholder="Ingresar nombre Para Buscar" class="form-control" id="nombreProducto" />
                        <input type="number" class="form-control" id="cantidad" name="cantidad" />
                    </div>
                    <button type="button" class="btn btn-primary" id="btnBuscar"><span class="glyphicon glyphicon-search"></span>Buscar</button>
                </div>
                <br />
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>cod</th>
                            <th>Nombre</th>
                            <th>Detalle</th>
                            <th>Precio</th>
                            <th>Disponibles</th>
                            <th>Accion</th>
                        </tr>
                    </thead>
                    <tbody id="tablaSeleccionar"></tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span>Cancelar</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $("btnBuscar").click(function () {
            var nombre = $('#nombreProducto').val();
            var cantidad = $('#cantidad').val();

              $.ajax({
            url: @Url.Action("/Factua/buscar"),
            data: { nombre: nombre, cantidad: cantidad },
            type: "GET",
            success: function (response) {
                alert(response);
            }
               });

        })

    });
</script>