@model SistemasFacturas.Models.Facturar

@{
    ViewData["Title"] = "Facturar";
    var fecha = ViewData["categorias"];
    var tipoDocu = (List<SistemasFacturas.Models.MedotoPago>)ViewData["tipoPago"];
    List<SistemasFacturas.Models.Producto> producto = (List<SistemasFacturas.Models.Producto>)ViewData["lisProducto"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Venta</h2>

<form asp-action="Facturar">
    <div class="container">

        <div class="row justify-content-between">

            <input asp-for="Factura.Cod_factura" type="hidden" />
            <input asp-for="Factura.Identificacion" type="hidden" />

            <input asp-for="Persona.Identificacion" type="hidden" />
            <input asp-for="Persona.Nombre" type="hidden" />
            <input asp-for="Persona.Apellido1" type="hidden" />
            <input asp-for="Persona.Identificacion" type="hidden" />
            <input asp-for="Persona.Pais" type="hidden" />
            <input asp-for="Persona.Provincia" type="hidden" />
            <input asp-for="Persona.Canton" type="hidden" />
            <input asp-for="Persona.Distrito" type="hidden" />
            <input asp-for="Persona.Correo" type="hidden" />
            <input asp-for="Persona.Telefono" type="hidden" />
            <input asp-for="Persona.Tipo" type="hidden" />

            <div class=" form-group col-md-4">
                <label asp-for="Factura.NombreComersial"></label>
                <input type="text" asp-for="Factura.NombreComersial" value="Empresa S.A" class="form-control">
                <span asp-validation-for="Factura.NombreComersial"></span>
            </div>

            <div class="form-group col-6 col-md-4">
                <label asp-for="Factura.Consecutivo"></label>
                <input asp-for=Factura.Consecutivo class="form-control" readonly />
                <span asp-validation-for="Factura.Consecutivo"></span>
            </div>

            <div class="form-group col-md-4">
                <label asp-for="Factura.FechaEmision"></label>
                <input asp-for="Factura.FechaEmision" class="form-control" readonly />
                <span asp-validation-for="Factura.FechaEmision"></span>
            </div>

            <div class="w-100"></div>

            <div class="form-group col-md-4">
                <label asp-for="Factura.Nombre"></label>
                <input asp-for="Factura.Nombre" class="form-control" readonly>
            </div>

            <div class="form-group col-md-4">
                <label asp-for="Factura.Cod_metodo"></label>
                <!--<input asp-for="Factura.Cod_metodo" class="form-control">-->
                <select class="form-control" asp-for="Factura.Cod_metodo" asp-items='new SelectList(tipoDocu,"Cod_metodo", "Metodo_de_pago")'></select>
            </div>

        </div>
    </div>
    <div class="col-auto">
        <button class="btn btn-secondary" type="button"
                data-target="#modalProducto" data-toggle="modal"
                data-backdrop="static" data-keyboard="true">
            <span class="glyphicon glyphicon-user"> Agregar Producto</span>
        </button>

    </div>
    <br />


    <div class="container">
        <div class="row justify-content-between" >
            <table class="table col-8">
                <thead>
                    <tr>
                        <th>
                            Nombre
                        </th>
                        <th>
                            Detalle
                        </th>
                        <th>
                            Precio
                        </th>
                        <th>
                            Cantidad
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="tabla_atr">
                </tbody>
            </table>

            <div>
                <div class="col-md-auto align-content-end">
                    <div class="col-sm-10 col-md-10 col-lg-10 mx-auto">
                        <div class="card card-signin my-5">
                            <div class="card-body rounded border border-secondary">
                                <label asp-for="Factura.Monto_total"></label>
                                <input class="form-control" asp-for="Factura.Monto_total" readonly id="total">
                                <br />
                                <label asp-for="Factura.Subtotal"></label>
                                <input asp-for="Factura.Subtotal" class="form-control" id="subtotal" readonly>
                                <br />
                                <h5 class="card-title text-center">Cambio</h5>
                                <input type="text" id="exampleForm3" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    



    <div>
        <div class="row justify-content-between">
            <div class="form-group col-4">
                <input type="submit" value="Facturar" class="btn btn-primary" />
            </div>
            <div class="col-4">
                <a asp-controller="Home" asp-action="Menu" class="btn btn-info">Cancelar</a>
            </div>
        </div>
    </div>

</form>

<partial name="_ModalProductos" />
