@model IEnumerable<SistemasFacturas.Models.Reporte>

@{
    ViewData["Title"] = "Reportes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h5>Reportes</h5>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaInicio)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.TotalCierre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaInicio)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.TotalCierre)
            </td>
           
        </tr>
}
    </tbody>
</table>
